@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Merriweather Sans', sans-serif;
}

.loading{
    display: flex;
    justify-content: center;
}

.loading::after{
    content: "";
    width: 70px;
    height: 70px;
    border: 10px solid #dddddd;
    border-top-color: #fffd00;
    border-radius: 50%;
    animation: loading 2s ease infinite;
}

@keyframes loading{
    to {
        transform: rotate(3turn);
    }
}

.input-error{
    border: 1px 1px red;
}

.body-text{
    overflow-wrap: break-word;
}