@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

*{
    font-family: 'Merriweather Sans', sans-serif;
}

.loading{
    display: flex;
    justify-content: center;
}

.loading::after{
    content: "";
    width: 70px;
    height: 70px;
    border: 10px solid #dddddd;
    border-top-color: #fffd00;
    border-radius: 50%;
    animation: loading 2s ease infinite;
}

@keyframes loading{
    to {
        transform: rotate(3turn);
    }
}

.input-error{
    border: 1px 1px red;
}

.body-text{
    overflow-wrap: break-word;
}

.height{
    height: 0.05rem;
}

.slide{
    position: absolute;
    left: -300px;
    width: 200px;
    height: calc(100vh - 2.9rem);
    overflow: hidden;
    transition: 1s;
    @apply bg-neutral-800;
}

.slide-pos{
    transition: 1s;
    left: 0;
}

.sidebar-divider{
    @apply w-full bg-yellow-200;
}